.body{
    background-color: rgb(17, 18, 39);
}




.blue{
    width: 9rem;
    height: 9rem;
    background-color: blue;
    border-radius: 1rem;
    border: none;

}

.blue:active{
    transform: scale(1.2);
  
}


.main{
    display: grid;
    gap: 1rem;
    padding: 7rem;
    grid-template-columns: repeat(5, auto);
    justify-content: center;

    
}

.text1{
    position: absolute;
    font-size: 3rem;
    top: 2rem;
    color: RGB(0, 255, 100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

    

}

.text{
    position: absolute;
    font-size: 3rem;
    top: -3rem;
    color: RGB(0, 255, 100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.button{
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    width: 15rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: cyan;
}

.start{

    width: 28rem;
    height: 15rem;
    border-radius: 6rem;
    background-color: #0a17d2;
    font-size: 3rem;
    color: #0059ff;
    border: none;

}

.start:hover{
    background-color: #081087;
}

.start:active{
    transform: scale(1.6);
}

.startDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 15rem;
}

